.logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 6.2rem;
      padding-bottom: 1rem;
}

.linkLogo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      font-size: 4.2rem;
      font-weight: bold;
      text-decoration: none;
      justify-content: center;
      color: var(--primary);
      transition: all 0.1s ease-in-out;
}

.linkLogo:hover {
      filter: brightness(80%);
}
